# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# listings and reports
*.lst
*.map
*.log

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.eep
